@import "tailwindcss";

@keyframes glow {
  0% {
    box-shadow: 0 0 0px rgba(59, 130, 246, 0.7); /* blue-500 */
  }
  50% {
    box-shadow: 0 0 12px rgba(59, 130, 246, 0.9);
  }
  100% {
    box-shadow: 0 0 0px rgba(59, 130, 246, 0.7);
  }
}

.glow {
  animation: glow 1.5s ease-in-out infinite;
}